<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300&display=swap');
  </style>
  <link rel="stylesheet" href="css/style.css">
  <title>Project</title>
</head>

<body>
  <div class="tg" id="tg"></div>
  <h1> <%=h1%> </h1>
  <input type="text" onCopy="return false" onPaste="return false" id="inp">
  <p id="word" class="word"></p>
  <button id="bt"> <%=bt%> </button>

  <div id="wrapper" class="wrapper">
    <h2></h2>
    <p id="txt" class="txt"></p>
    <h3></h3>
    <p id="description" class="description"></p>
  </div>

  <script src="js/main.js"></script>
</body>
</html>